.header {
    position: absolute;
    top: 0;
    left: 0;    
    right: 0;
    padding-top: 40px;
    background: transparent;
    z-index: 5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__phone {
    display: block;
    font-size: 23.85px;
    text-decoration: none;
    color: var(--color-white);
    margin-bottom: 3px;
}

.header__link {
    display: block;
    font-size: 16px;
    text-align: center;
    color: var(--color-white);
}

.logo__phone-wrapper {
    position: fixed;
    transform: scale(0);
}

.header__contact {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .header__phone {
        font-size: 21px;
        margin-bottom: 4px;
    }
    
    .header__link {
        font-size: 13px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .header__logo {
        width: 30px;
        height: 30px;
    }

    .header {
        padding-top: 15px;
    }

    .header__phone {
        /* display: none; */
        /* visibility: hidden; */
        /* font-size: 8px; */
        position: fixed;
        transform: scale(0);
    }
    
    .header__link {
        /* visibility: hidden; */
        /* font-size: 8px; */
        /* display: none; */
        position: fixed;
        transform: scale(0);
    }

    .logo__phone-wrapper {
        position: static;
        transform: scale(1);
        }
    }

    .header__contact {
        display: flex;
    }
